<div class="container">
    <h3>
        <!--Example of event binding and 2 way data binding-->
        <!--
            Important: For Two-Way-Binding (covered in the next lecture) to work,
            you need to enable the ngModel directive.
            This is done by adding the FormsModule  to the imports[]  array in the AppModule.
            You then also need to add the import from @angular/forms  in the app.module.ts file:
            import { FormsModule } from '@angular/forms'; 
        -->
        <!-- <input type="text"  [(ngModel)]="name">
        <p>
            <b>{{name}}</b>
        </p> -->
        <input type="text"  (input)="getUserName($event)">
        <p>
            <b>{{welcomeMessage}}</b>
        </p>
    </h3>
</div>