ul {
    background-color: rgb(230, 210, 173);
    opacity: 0.7;
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0%;
}
ol {
    background-color: rgb(230, 210, 173);
    opacity: 0.7;
    padding-top: 2%;
    padding-bottom: 1%;
    margin: 0%;
}
